css * {
  margin: 0px;
  padding: 0px;
}

/* navbar */
.navbarhead_prop{
  padding: 20px 0px 0px 20px ;
  }
.Navsearch_bar {
  max-width: 100%;
  width: 40%;
}

.navsearch {
  border: none !important;
}

.adminnavbar {
  display: flex !important;
  flex-direction: row;
  padding: 30px 0px;
  border-bottom: 1px inset;
  justify-content: space-between;
  width: 100%;
}

.profile_img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.Navbaricons {
  display: flex;
  gap: 40px;
  margin-left: 30px;
  justify-content: flex-end;
}

.navicons {
  width: 30px;
  height: 40px;
}
.navicon_heading {
  white-space: nowrap;
}
.offcanvas_toggole_btn {
  display: none !important;
}
.for_only_mobile {
  visibility: hidden;
}
@media (max-width: 992px) {
  .offcanvas_toggole_btn.for_tablet {
    display: block !important;
  }
  .offcanvas_toggole_btn.for_mobile {
    display: none;
  }

  .col_hide {
    display: none;
  }
  .offcanvas_inner_body .col_hide {
    display: block !important;
  }
}
@media (max-width: 747px) {
  .adminnavbar {
    flex-wrap: wrap;
  }
  .navicon_heading {
    margin: 0 10px;
  }
  .for_only_mobile {
    visibility: visible;
  }
  .offcanvas_toggole_btn.for_tablet {
    display: none !important;
  }
  .hide_for_mobile {
    display: none;
    width: 100%;
    margin-top: 15px;
    gap: 0 !important;
    justify-content: space-between;
    margin: 0;
  }
  .offcanvas_toggole_btn {
    display: block !important;
  }
  .profile_img {
    margin-left: 10px;
  }
  .Navbaricons {
    gap: 20px !important;
    margin: 0;
    justify-content: unset;
  }
}
@media (max-width: 380px) {
  .Navbaricons {
    margin: 0;
    gap: 10px !important;
    justify-content: unset;
  }
}

/* navbar */
/* ----------------------------------------------------admin sidebar------------------------------------------------------------------ */

.admin_sidebar {
  position: sticky;
  z-index: 1;
  top: 0;
}
/* ----------------------------------------------------admin sidebar------------------------------------------------------------------ */

/* ------------------------------------------------------------admin dashboard-------------------------------------------------------- */
.admin_toppadding {
  padding: 40px 30px;
  margin-bottom: 15px !important;
}

.Admin_dashboard {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 20px 40px;
}

.Admin_lbutton {
  margin-right: 20px;
  padding: 10px 20px;
  font-size: 20px;
  color: #000 !important;
  background-color: #f4f6f8 !important;
  border: none !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Admin_rbutton {
  margin-right: 20px;
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  background-color: #4eb529 !important;
  border: none;
}

.Admin_rbutton:hover {
  background-color: #4eb529 !important ;
}

.Admin_lbutton:hover {
  background-color: #f4f6f8;
  color: #000;
}

.Admin_icons {
  margin-right: 10px;
  height: 40px;
  width: 30px;
}

/* ------------------------------------------------------------admin dashboard-------------------------------------------------------- */
/* ------------------------------------------------------------Admin graphs----------------------------------------------------------- */

.paddin_bot {
  padding: 0px 20px;
}
.recharts-wrapper {
  width: 100% !important;
}
svg.recharts-surface {
  width: 100% !important;
}

.recharts-legend-wrapper {
  width: 100% !important;
}

/* ------------------------------------------------------------Admin graphs-------------------------------------------------------- */
/* ------------------------------------------------------------Top selling products------------------------------------------------- */

.main {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
}
.top_selling_products {
  max-height: 600px;
  overflow: auto;
}

.top_selling_products div p {
  height: 60px;
  border-bottom: dashed #94a9bb;
  border-width: 1px;
}

h4 {
  color: #94a9bb;
}

.margin_bottom {
  margin-bottom: 20px;
}

.orders_icon {
  background-color: #75c55848;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.total_order {
  width: 25px;
  height: 22px;
  color: darkgreen !important;
}

.order_flex {
  display: flex !important;
  padding: 20px;
}

p {
  font-size: 20px;
  font-weight: 600;
}

.card_border {
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
/* ------------------------------------------------------------Top selling products------------------------------------------------- */

/* -------------------------Recent Orders-------------------------- */

.order_img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

div p {
  margin-bottom: 0px;
  font-size: 15px;
}

.order_icon {
  height: 30px;
  width: 30px;
}

.recent_orders {
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
/* -------------------------Recent Orders-------------------------- */

/* -----------------------------------------------------------------------------all procducts-------------------------------------------------------------------------------- */
.searchbutton {
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 20px 40px;
  flex-direction: row;
}
.all_product_search {
  display: flex;
  align-items: center;
  width: 55%;
}

.allproduct_searchicon {
  height: 30px;
  width: 30px;
}
.adminsearch_bar.form-control {
  width: 100% !important;
}

.adminsearch_bar {
  padding: 11px !important;
}

.btngroup {
  display: flex;
  justify-content: end;
  /* width: 47%; */
}
.form_control_or_btngroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9fa;
}
.select_button {
  margin-right: 20px;
  padding: 15px 30px !important;
  font-size: 15px !important;
  line-height: 22px !important;
  color: #000 !important;
  background-color: #f4f6f8 !important;
  border: none !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}
.table-responsive {
  overflow-x: unset !important;
}

.allproduct_table {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
}

.dropdown-toggle::after {
  display: none !important;
}

.table_pageination {
  display: flex;
  justify-content: end;
}
@media (max-width: 1200px) {
  .btngroup {
    width: 50%;
  }
  .all_product_search {
    width: 45%;
  }
}
@media (max-width: 1104px) {
  .btngroup {
    width: 60%;
  }
}
@media (max-width: 814px) {
  .form_control_or_btngroup {
    display: block;
  }
  .all_product_search {
    width: 100%;
  }
  .btngroup {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
}
/* product_selectbrand */

.sku_stok_price {
  display: flex;
  justify-content: space-between;
}

.sku_stok_price span{
  font-weight: 700px;
  color: #4eb529;
}

.productbrand_unit {
  display: flex;
  padding: 20px;
  width: 100%;
  gap: 20px;
}

.product_brand {
  width: 50%;
}

.Pricesku_stock {
  width: 100%;
  padding: 10px 0px 10px 20px;
  border: 1px solid #94a9bb;
  border-radius: 5px;
  opacity: 0.5;
}

.Pricesku_stock:hover {
  border: 1px solid #4eb529;
}
/* product_selectbrand */
/* pos system */

.pos_buttons {
  display: flex;
  justify-content: space-between;
}
.pos_catbutton {
  background-color: #4eb529 !important;
  padding: 10px 20px !important;
  border: none !important;
  font-size: 18px !important;
}

.pos_brabutton {
  border-color: #4eb529 !important;
  padding: 10px 30px !important;
  font-size: 18px !important;
  background-color: #fff !important;
  color: #4eb529 !important;
  margin-left: 10px;
}

.pos_locbutton {
  color: #000 !important;
  background-color: #fff !important ;
  border: 1px solid #4eb529 !important;
  padding: 10px 20px !important;
}

.swiper-slide {
  width: 181.2px !important;
}
.cat_div {
  display: flex;
  gap: 20px;
}

.pos_detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px !important;
  border-radius: 10px;
  margin-top: 20px;
  border: 1px solid #4eb529;
}

.pos_detail:hover {
  border: none !important;
  background-color: #4eb529 !important;
  color: #fff !important;
}

.pos_catimage {
  border-radius: 100%;
  border: 1px dashed;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/* .pos_catimage div{
  background-color: #fff;
  border-radius: 100%;
  width: 70px !important;
  height: 40px;
} */
.pos_content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alllisted_product {
  display: flex !important;
  justify-content: center !important;
  margin-top: 20px !important;
  padding: 20px;
}

.pos_submit {
  padding: 10px 20px !important;
  background-color: #94a9bb !important;
  margin-left: 10px;
  border: none !important;
}

.add_code {
  background-color: #e5f4df !important;
  border: none !important;
  color: #4eb529 !important;
  padding: 10px 20px !important;
}

.add_code:hover {
  background-color: #4eb529 !important;
  color: #fff !important;
}

.billin_secction {
  display: flex;
}

.add_customer {
  margin-left: 30px;
  margin-right: 10px;
}

.new_order_billing {
  background-color: #ffebda;
  color: #ffb54b;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.new_order_billing:hover {
  color: #ffebda;
  background-color: #ffb54b;
}

.new_billicon {
  width: 20px;
  height: 20px;
}

.billing_section {
  background-color: #e5f4df;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  margin-top: 20px;
  gap: 10px;
}

.boxshadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.editdeleter_button{
background-color: #fff !important;
}

.editdeleter_button:focus{
  background-color: unset !important;
  text-decoration: none !important;
}
/* pos system */
/* -----------------------------------------------------------------------------all procducts-------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------side bar-------------------------------------------------------------------------------- */

.sidebar_deco a {
  text-decoration: none !important;
}

svg.rs-sidenav-item-icon {
  margin-right: 10px;
}

/* -----------------------------------------------------------------------------side bar-------------------------------------------------------------------------------- */
.Stockbasic_information {
  border: none !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}
.Stock_Information {
  border-bottom: none !important;
  background-color: #fff !important;
}

.left_addtoproduct {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.location {
  padding: 10px;
  border-color: #eceef1;
  border-radius: 8px;
}

.icon_s {
  gap: 10px;
  margin-top: 10px;
}

.rstock_inf {
  padding: 20px;
}

.stock_icon {
  margin-top: 20px !important;
  color: #4eb529;
  line-height: 22px;
}

.right_information {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  border: none !important;
}

.location_search {
  width: 100%;
}

.location_button {
  width: 35%;
}

/* -----------------------------------------------------------------------------side bar-------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------alllocation------------------------------------------------------------------------------- */

.alllocationtable tr th {
  padding: 20px;
}
.alllocationtable tr td {
  padding: 20px;
}
/* -------------------------------------------------------------------------alllocation------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------all categories------------------------------------------------------------------------------- */

.alllocation_button {
  display: flex;
  justify-content: start;
  margin-left: 20px;
}

.allvariation_search {
  width: 100%;
}

.variation_button {
  margin-left: 20px;
  display: flex;
  justify-content: start;
}
.variation_text {
  position: relative;
}
.variation_text::before {
  position: absolute;
  content: "";
  left: -28px;
  width: 15px;
  height: 15px;
  background-color: #dfe3e8;
  /* outline: 2px solid green; */
  /* outline-offset: 5px; */
  border-radius: 100%;
  top: 6px;
}

.var_edit {
  margin-top: 5px;
  margin-left: 25px;
}

.var_edit::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 8px;
  width: 2px;
  height: 100%;
  background: #dfe3e8;
}

.variation_text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.right_variation {
  position: sticky !important;
  z-index: 1 !important;
  top: 0 !important;
}

/* -------------------------------------------------------------------------all categories------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------brand ------------------------------------------------------------------------------- */

.brand_image {
  border: 1px dashed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  height: 300px;
}

.update_brandimage{
  width: 100%;
  height: 200px;
}

.brand_img_icon {
  width: 70px;
  height: 70px;
  color: #94a9bb;
}

.Addnewpeoduct {
  border-radius: 5px;
  padding: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

.Brandsave_button {
  background-color: #4eb529 !important;
  padding: 10px 30px !important;
  margin-bottom: 10px;
  font-size: 19px !important;
}
/* -------------------------------------------------------------------------brand------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------order_report---------------------------------------------------------------------------- */
.order_report {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.order_date {
  padding: 15px 30px !important;
  font-size: 15px !important;
  line-height: 22px !important;
  color: #000 !important;
  background-color: #f4f6f8 !important;
  border: none !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

.order_payment_status {
  padding: 15px 40px !important;
  font-size: 15px !important;
  line-height: 22px !important;
  color: #000 !important;
  background-color: #f4f6f8 !important;
  border: none !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  margin-left: 35px !important;
}

.date-range-picker {
  display: flex !important;
}

.order_div {
  margin-left: 20px;
  margin-right: 30px;
}

/* ---------------------------------------------------------------------order_report---------------------------------------------------------------------------- */

/* --------------------------------------------------------------------table_colmn----------------------------------------------------------------------------- */

.table_colmn {
  display: flex;
  justify-content: end;
}

/* --------------------------------------------------------------------table_colmn----------------------------------------------------------------------------- */

.category_search {
  max-width: 100%;
  width: 1190px;
}

._totaldelivery_order {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

._totaldelivery_order p {
  display: flex;
  justify-content: end;
}

.email_box {
  padding: 10px !important;
  border-radius: 5px;
  border: 1px solid #94a9bb;
  opacity: 0.5;
}

.email_button {
  background-color: #4eb529 !important;
  border: none !important;
  margin-top: 20px !important;
  padding: 10px 30px !important;
}

.pos_search {
  padding: 10px !important;
}

.pos_image {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

/* ---------------------------------------------------orders-------------------------------------------------- */

 /* .order_Search {
  width: 45%;
}  */

.orders_fivebutton {
  display: flex;
}

.orders_Search {
  width: 100%;
}
/* ---------------------------------------------------orders-------------------------------------------------- */
/*---------------  navbar-firstweb-page-footer ----------- */
.navbaenew_top {
  background-color: #4eb529;
}

.subnewbar_nav {
  padding: 30px 20px;
  display: flex;
  color: #fff;
  justify-content: space-between;
  position: relative;
}

.subnewbar_content {
  position: absolute;
  background-color: #fff;
  color: #000;
  width: 100%;
  top: 70%;
  left: -0px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.mid_navnewconent {
  display: flex;
  justify-content: space-between;
}
.subnewbar_rightcont {
  display: flex;
  /* padding-right: 40px; */
}

.navbar_new_icon {
  width: 30px;
  height: 30px;
  color: #4eb529;
}

.categories_items {
  display: none;
  left: 40%;
  top: 50px;
  position: absolute;
  max-width: 100%;
  background-color: #fff;
  padding: 20px;
}
/* .categories_section {
  position: relative;
} */
.categories_section:hover .categories_items {
  display: block;
}

.top-right {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  color: #737373;
  padding-right: 20px;
  padding-top: 10px;
}

.nav_header {
  overflow: visible;
  background-color: #fff;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 9;
}

.vr-border {
  border-right: #737373 solid;
  padding-right: 5px;
  height: 20px;
}

.top-right img {
  width: 20px;
  height: 25px;
}
.search_bar {
  max-height: 56px;
  width: 100%;
  border: 1px solid gray;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 0;
  font-size: 18px;
  background-color: #e1e9ea;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.search_bar:focus {
  box-shadow: none;
  background-color: #d1e0f9;
}

/* .form-control:focus{
  outline-offset: 0px !important;
  padding: 10px 28px !important;
} */
.nav_bar {
  gap: 20px;
  width: 100% !important;
  display: flex !important;
  flex-wrap: nowrap;
  justify-content: space-between !important;
  padding: 0px 60px;
}

@media screen and (max-width: 746px) {
  .search_button {
    padding: 0px 10px !important;
  }
  .nav_bar {
    padding: 0px 10px !important;
  }
}

.hide_links {
  display: none !important;
}
@media screen and (max-width: 1199px) {
  .hide_links {
    display: block !important;
  }
  .sub_header_hide {
    display: none !important;
  }
}

.search_button {
  max-height: 56px;
  padding: 10px 28px;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border: none !important;
  background-image: linear-gradient(#ff914c, #ff6161);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media screen and (max-width: 500px) {
  .search_button {
    display: none;
  }
}
.sign_hover_div {
  display: none;
}

.sign_hover:hover {
  display: block !important;
  color: #4eb529;
}

.search-bar {
  width: 100% !important;
  max-width: 800px;
  display: flex;
}

.navbar_align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown_button {
  margin: 0%;
  border: 0px !important;
  height: 40px;
  background-color: #0f336d !important;
  color: #fff;
}
.nav-icons {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  gap: 20px;
}

img {
  width: 30px;
}

.nav-icons span {
  color: #737373;
}

.share {
  display: flex;
  flex-direction: column;
}

.sales-navbar {
  background-color: #0f336d;
  display: flex;
  justify-content: center;
  gap: 19px;
  font-weight: 700;
  padding: 0px;
}

p {
  cursor: pointer;
  margin-bottom: 0px;
}

.sales-navbar p {
  padding: 10px;
  margin-bottom: 0;
  color: #fff;
}
.sales-navbar p:hover {
  background-color: unset;
}

.promo {
  display: flex;
  justify-content: center;
  font-weight: 400;
  background-color: #fff;
  padding: 10px;
}
p {
  cursor: pointer;
  margin-right: 20px;
}
.promo p:hover {
  color: #737373;
}

.content {
  background-color: #eff7fa;
}

.Navbar_login_item {
  display: flex;
  gap: 10px;
}

span {
  font-weight: 700px !important;
}

p {
  margin-left: 40px;
}

.dropdown-menu[data-bs-popper] {
  left: -140px !important;
}

/* ------------------------------------------Navbar-css--------------------------------------------- */

/* ----------------------------------------Nav_link css--------------------------------------------- */
.navbar-brand {
  padding-top: 20px !important;
}

.myprofile_align{
  left: -24px;
}
.Nav_link {
  padding: 20px !important;
  color: #000;
  position: relative;
}
.search_user{
  display: none;
}
.Nav_link:hover {
  background-color: white;
  color: #4eb529;
  white-space: nowrap;
}
.nav_Filter ul {
  padding-left: 0px;
}

.nav_Filter div {
  display: flex;
}

ul li {
  color: #a0a0a0;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  /* margin-bottom: 5px; */
}

.Nav_link .nav_Filter {
  display: none;
  width: auto;
  height: auto;
  background-color: #fff;
  position: absolute;
  top: 70px;
  /* right: -80%; */
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0px 10px 0px 10px;
  line-height: 30px;
}

.search_link{
  padding: 20px !important;
  color: #000;
  position: relative;
}

.search_link.user_search{
  display: none;
  width: auto;
  height: auto;
  background-color: #fff;
  position: absolute;
  top: 70px;
  /* right: -80%; */
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  line-height: 30px;
}
.border_right {
  border-right: 1px solid #000 !important;
  padding-right: 20px;
}

h5 {
  color: #000;
}

.subnewbar_nav :hover.Nav_link .nav_Filter {
  display: block;
}

.aboutus_toggle p{
  line-height: 28px;
  font-size: 18px;
}

.aboutus_toggle button{
  margin-top: 30px;
}

.aboutus_toggle ul{
  margin-top: 30px;
  padding-left: 0px;
}
.usernav_toggle{
  background-color: #FF7C08 !important;
  border: none !important;
  border-radius: 0px !important;
}
.mobile_mid_navnewconent{
  display: none;
}

@media (max-width:1005px) {
  .desktop_mid_navnewconent{
    display: none;
  }
  .mobile_mid_navnewconent{
    display: block;
  }

  .aboutus_toggle{
    display: none;
  }
}

@media (max-width:767px){
  .alignsearchbar_icon{
    left: -60px !important;
  }
}



/* -----------------------------------------------------End Nav_link Css-------------------------------------------------- */

.body {
  background-color: #eff7fa;
}
/* .slider {
} */

.slider_left_cont {
  padding: 30px 60px !important;
  margin-top: 60px;
}

.slider_rightbutton {
  padding: 10px 20px !important;
  background-color: #4eb529 !important;
  color: #fff !important;
  margin-left: 10px !important;
}

.slider_rightbutton:hover {
  background-color: #ff7c08 !important;
}
.slider_leftbutton {
  padding: 10px 20px !important;
  background-color: #ff7c08 !important;
  color: #fff !important;
}

.slider_leftbutton:hover {
  background-color: #4eb529 !important;
  border-color: #4eb529;
}
.slider_col {
  padding-top: 90px;
}

.slide_img {
  width: 65%;
  max-height: 100%;
  height: 420px;
  object-fit: contain;
  border-radius: 100%;
  fill: #fff;
  margin-left: 30px;
}

.carousel-control-next {
  width: 10px !important;
}

.carousel-control-prev {
  width: 10px !important;
}
.carousel-control-next {
  width: auto !important;
}

/* .carousel-control-next-icon {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding: 90px 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
} */

/* .carousel-control-prev-icon {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding: 90px 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
} */

.carousel-control-prev {
  width: auto !important;
}
*/ .carousel-indicators {
  display: none;
}

.right_col {
  cursor: pointer;
  border: none;
}

.right_col_detail {
  font-size: 10px;
  text-decoration: solid;
}
.right_col .img:hover {
  box-shadow: 0px 11px 13.35px 1.65px rgba(148, 148, 148, 0.23);
  border: #9ad8dd solid 1px;
}
.right_col_detail:hover {
  color: red;
  text-decoration: underline;
}

.card_row {
  background-color: #fff;
  padding: 0px 30px;
}

.dealday_img {
  max-width: 100%;
  width: 300px;
}
.card {
  box-shadow: 1px 5px 20px 0px rgb(192 192 192 / 19%);
  /* border: 1px solid transparent !important; */
}


.swiperfront_swiperview{
  margin-top: 30px;
  border: none !important;
  border-color: #f7f7f7;
  /* padding: 15px 0; */
  height: 360px !important;
  width: 100%;
}

.shopping_card:hover {
  border: #4eb529 solid 1px !important;
}

/* .cardhide_onhov{
  display: none;
}

.card_texthoverdetail{
  display: flex;
  justify-content: flex-end;
}

.shopping_card:hover .cardhide_onhov{
  display: block;
  */
/* } */
.heading {
  font-size: 40px;
  font-weight: 700;
  margin-top: 20px;
}
.card-img {
  padding: 10px 20px;
}

.view_all_card {
  padding: 20px;
  cursor: pointer;
}
.right_arrow {
  max-width: 200px;
}

.view_all_card:hover {
  box-shadow: 0px 11px 13.35px 1.65px rgba(148, 148, 148, 0.23);
  border: #9ad8dd solid 3px;
}

.leading_content {
  background-color: #fff;
  padding: 10px 20px;
  margin-top: 10px;
}

.leading_content p {
  display: flex;
  gap: 10px;
}

.leading_content span {
  font-weight: 900;
}

.crad_text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
}

.card_deco {
  text-decoration: none !important;
}

.footer_end {
  display: flex;
  background-color: #9ad8dd;
  padding: 10px;
}
.mouseoverdiv {
  position: absolute;
}
.active {
  background-color: #fff;
}

.home-background {
  background-color: #eef6eb;
}

.ourtopcategories_home {
  display: flex;
  justify-content: center;
}
.category_borderdiv {
  border: 1px dashed #ff7c08;
  padding: 30px 30px;
  border-radius: 10px;
}
.cat_card_homep {
  /* opacity: 0.5; */
  height: 150px !important;
  padding-top: 34px;
  border-radius: 10px !important;
}
.contentcard_img {
  border-radius: 100%;
  border: 1px dashed;
  height: 30px;
  width: 30px;
  padding: 30px;
}
.top_catcard {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important ;
  align-items: center !important ;
}
.hoverarrow_direc {
  display: flex;
  justify-content: end;
  display: none;
  padding-left: 153px;
}
.right_bottomborder {
  background-color: #ff7c08;
  border-top-left-radius: 5px;
}

.arrow-icon {
  width: 30px;
  height: 30px;
  color: #fff;
}

.hoveron_arrow:hover .hoverarrow_direc {
  display: block;
}

.banner {
  position: relative;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid #000;
  padding: 5px;
}
.banner-button {
  background-color: #000 !important;
  color: #fff !important;
  position: absolute;
  top: 160px;
  margin-left: 10px;
}
.banner-img {
  width: 100%;
  object-fit: contain;
}
/* ------------------------new home page------------------------ */

.shopping_card {
  margin-top: 30px;
  border: none !important;
  border-color: #f7f7f7;
  /* padding: 15px 0; */
  height: 360px !important;
  width: 250px;
}
.shopping_card img {
  height: 200px;
  object-fit: contain;
}

.shopping_card .item_rating {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  gap: 10px;
}

.item_rating p {
  font-size: 14px;
}

.homedecor_image{
  width: 100%;
  height: 100%;
}

.electrnicswiewall_button{
  width: 50%;
  padding: 5px 10px;
  background-color: #4EB529;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
}

.electrnicswiewall_button:hover{
background-color:#ff7c08 ;
}

.viewallcard_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.fistcardof_elct:hover{
  /* max-width:290px !important;
  width: 100% !important;
   */
   border: none;
}

.swiper-button-prev:after {
  content: 'next';
  padding: 40px 12px 40px 13px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
  color: #000;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.swiper-button-next:after {
  content: 'next';
  padding: 40px 12px 40px 12px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #fff;
  color: #000;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.homerating_cat{
  background-color: #4EB529;
  border-radius: 10px;
  padding: 2px 5px;
  color: #fff;
  font-size: 3px;
}
/* .homeelectnics_carouse{
  display: flex;
} */

.swiper-button-disabled{
  display:none !important;   
}
/* ------------------------------------signup-------------------------------------------- */
.signin_main {
  padding-top: 90px;
}
.signup {
  background-color: #6eb356;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.left_content {
  padding: 40px 20px;
  width: 100%;
}

.left_content h2 {
  font-weight: 500;
  line-height: 45px;
  color: #fff;
}

.left_content p {
  font-size: 18px;
  margin-top: 16px;
  line-height: 30px;
  color: #fff;
}

.left_content img {
  width: 100%;
  margin-top: 90px;
}
.star {
  font-size: 13px;
  font-weight: 900;
  color: rgb(218, 49, 49);
  margin: 0;
  display: flex;
  margin-left: 10px;
}

.main_page {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.right_content {
  padding: 60px 50px;
  text-align: center;
  width: 100%;
}
.login_input {
  width: 100%;
  max-width: 600px;
  border: none;
  border-bottom: 1px solid;
  font-size: 20px;
  border-color: grey;
  padding: 0px 10px;
  margin-bottom: 10px;
}
.login_input:focus-visible {
  outline: 0 !important;
  box-shadow: 0 !important;
}

.des-but {
  padding: 8px 30px;
  border-radius: 10px;
  background-color: #6eb356;
  color: #fff;
  font-size: 20px;
  border: none;
  width: 100%;
  max-width: 600px;
}
.button_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

/* .des-but:hover {
  background-color: #115ed8;
} */
.reset_button {
  padding: 8px 30px;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
  border-radius: 10px;
  color: #2874f0;
  background-color: #fff;
  font-weight: 500;
}

.signin_formcontent {
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  margin-bottom: 10px;
}

/* -----------------------------------------login page------------------------------------------------ */

.create_accnt {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create_accnt a {
  text-decoration: none;
  color: #6eb356;
}

/*   footer css  */

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* footer body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  margin-top: 20px;
} */

a {
  color: rgb(231, 231, 231);
  text-decoration: none;
}

/* ------------------------------------toggle--------------------------------------------------- */

li {
  list-style: none;
}

input {
  position: relative;
  height: 100%;
}

/* input[type="email"] {
  padding: 7px 8px;
  border: 1px solid rgb(206, 206, 206);
}
input[type="button"] {
  border: none;
  padding: 7px 12px;
  background: rgb(79, 223, 79);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(79, 223, 79);
  cursor: pointer;
} */

footer {
  /* bottom: 0;  */
  background: #172337;
  color: white;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  margin-top: 20px !important;
}

/* / Bottom - copyright and legal stuff / */

footer .info {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(29, 29, 29);
}

footer .info .legal {
  display: flex;
  flex-wrap: nowrap;
}

footer .info .legal > a {
  margin-right: 15px;
}

/* / Middle - social media links / */

.social {
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  gap: 100px;
}

footer .social i {
  font-size: 1.4rem;
  margin: 2px 8px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

footer .social:before {
  position: absolute;
  content: "";
  width: 90%;
  height: 1px;
  background: rgba(255, 255, 255, 0.192);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* / Top - pages, email newsletter form ... / */

footer .top {
  /* padding: 2rem; */
  display: flex;
  /* gap: 80px; */
  justify-content: center !important;
  flex-direction: row;
}

footer .top ul {
  margin: 20px;
}

footer .top ul h5 {
  color: #878787;
  margin-bottom: 5px;
}

footer .top ul li a {
  margin: 4px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

footer .top ul li {
  margin: 4px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
footer .top ul li:hover {
  text-decoration: underline !important;
}

.tele {
  cursor: pointer;
}

.tele span {
  color: hsl(229, 97%, 49%);
}

footer ul {
  display: flex;
  flex-direction: column;
}

.left_border {
  border-left: 1px solid #454d5e;
  height: 150px;
  padding: 0 25px;
}

.Soc_icon {
  color: yellow !important;
  margin-right: 10px !important;
}

/* / Responsive adjustments / */
@media screen and (max-width: 768px) {
  footer .top {
    flex-direction: column;
  }
  footer .top .newsletter {
    padding-top: 1rem;
  }
  footer .top ul {
    margin: 10px;
  }
}

@media screen and (max-width: 600px) {
  footer .top {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  footer .info {
    flex-direction: column;
  }

  /* footer .info > .copyright {
    margin-top: 10px;
  } */
}

@media screen and (max-width: 380px) {
  footer .top {
    justify-content: center;
    flex-direction: column;
  }

  /* footer .info .legal {
    justify-content: center;
  } */

  /* footer .info .legal a {
    margin: 0;
    text-align: center;
  } */
}

@media screen and (max-width: 768px) {
  .left_border {
    border: none;
  }
}

/* ------------------------------------------------------------------All Data Listing ----------------------------------------------- */

.product_icon {
  /* margin-left: 10px; */
  width: 22px;
  height: 25px;
}
.container_width {
  width: 100%;
  max-width: 1800px !important;
}

.index_category {
  max-width: 350px;
}
.icon_div {
  display: flex;
  align-items: center;
  gap: 15px !important;
  justify-content: center;
  padding: 15px !important;
}

.admin_sidebar {
  position: sticky;
  z-index: 1;
  top: 0;
}
/* ------------------------------------------------------------------All Data Listing ----------------------------------------------- */

/* ------------------------------------------------------------------ Add Product Form ---------------------------------------------- */

.left_addtoproduct {
  display: flex;
  flex-direction: column;
}

.left_addtoproduct label {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.left_update_product{
  /* padding-right: 50px; */
  /* margin-right: 20px; */
  /* padding-left: 20px; */
  width: 50%;
}

.mainupdate_pro{
  width: 50%;
}

.descirption_box {
  margin-bottom: 20px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0px 10px;
  width: 100%;
}
/* .modal-size{

} */
.descirption_box:focus-visible {
  outline: 0 !important;
  box-shadow: 0 !important;
}

.descirption_box:hover {
  border-color: #2d2f3d;
}


.modal-content{
  width: 900px !important;
  padding: 10px 20px ;

}

.update_product_button{
  background-color: #4EB529 !important;
  padding: 15px 30px;
  color: #fff;
  border-radius: 10px;
  width: 60% ;
}

.update_product_button:hover{
  background-color: #FFB54B !important;
}

.updatebutton_div{
  display: flex;
  justify-content: center;
}
.submit_button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-image: linear-gradient(#ff914c, #ff6161);
  color: #fff;
  font-size: 20px;
  margin-top: 30px;
}

.update_product {
  padding: 10px 40px;
}

.editproduct_close_button {
  border: none;
}

.navsearch_input {
  padding: 10px 15px;
  opacity: 0.6;
}


.price_flex{
  width: 95%;
}


.addproduct_button{
  background-color: #4EB529 !important;
  border: #4EB529 !important;
  padding: 10px 30px !important;
}
.seachunder_search_icon{
  width: 40px;
  height: 46px;
  color: #fff;
  background-color: #ff7c08;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.seachunder_search_icon:hover {
  background-color: #4eb529;
}
.alignsearchbar_icon {
  display: flex;
}

.navsearch_alignnew {
  left: -250px;
}


/* ---------------------------------product detail------------------------------------------- */

.mainrowdata{
  padding-top: 90px;
}

.subphotof_main{
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.main_image{
  display: flex;
  justify-content: center;
  gap: 10px;
}



.topmain_imageview{
  /* display: none; */
  height: 500px;
  object-fit: contain;
}

.topmain_otherimage1{
  width: 100%;
  display:none;
}
.topmain_otherimage2{
  width: 100%;
  display:none;
}
.topmain_otherimage3{
  width: 100%;
  display:none;
}
.topmain_otherimage4{
  width: 100%;
  display:none;
}

.main_imagecardte{
  display: flex !important;
  justify-content: space-between !important;
  /* gap: 20px; */
}

.textrating{
 line-height: 40px;
 /* font-size: 18px; */
 font-weight: 700;
}

.image_ratbracat{
  margin-left: 2px;
  padding: 5px;
  background-color: #4EB529 ;
  color: #fff;
  border-radius: 10px;
}

.image_ratbracat:hover{
background-color: #FF7C08;
}
.rounded-pill{
  background-color:none !important;
}

p{
  margin-right: 0px ;
  margin-left: 0px;
}

.addtocart_button{
  background-color: #4EB529 !important;
  border: none !important;
padding: 10px 20px !important;
width: 100% !important;
}

.addtocart_button:hover{
  background-color:#FF7C08 !important;
}

.bynow_button{
  background-color: #FF7C08 !important;
  border: none !important;
padding: 10px 20px !important;
width: 100% !important;
}

.bynow_button:hover{
  background-color:#4EB529 !important;
}

.discriptionoffers_product p{
  line-height: 22px !important;
  font-size: 18px !important;
  margin-bottom: 10px !important;
}

.validpffers_icon{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  color: #FF7C08;
}

.validpffers_icon:hover{
  color: #4EB529;
}

.discriptionoffers_product p span{
 font-weight: 700;
}

.delivery_code{
  display: flex;
  gap: 10px;
}

.deliverylocationcode{
  width: 30px;
  height: 30px;
  color: #FF7C08;
}

.pincode_bar{
  padding: 10px 30px;
  border: none;
}

/* ------------------------------------home page subcategory------------------------------------ */

.home_subcatetop{
  padding-top: 70px;
}

.subcategory_topcontent{
  display: flex;
  gap: 10px
}

.homesub_image{
  height: 200px;
}

.subcat_homecard{
  width: 350px;
}

.righthome_filter{
  display: flex;
  gap: 15px;
  line-height: 10px;
  border-bottom: 1px solid #F0F0F0;
}

.righthome_filter h4{
  opacity: 0.4;
}

.home_link{
  text-decoration: none !important;
  color: #4EB529;
}

.leftfilter_bar{
  /* padding: 10px 20px; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.brands_filters{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.categorieslefftfilter{
  border-bottom: 1px solid #F0F0F0;
}

.rightboxborder{
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.pricefilter_left{
  padding: 10px 0px 10px 10px;
  width:100%;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
}

.pricefilter_left:focus{
  border: 1px solid #E0E0E0;
}

.leftpricefilter_wid{
  width: 100%;
  margin-right: 10px;
}

input[type=range]::-moz-range-progress {
  accent-color: red;
  height: 1em;
}
.pricealign{
  display: flex;
  flex-direction: column;
}

.pricealign div{
margin-bottom: 5px;
font-size: 22px;
font-weight: 500px;
}

.margin_right{
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.fontweight{
  font-weight: 500;
  font-size: 18px;
}

.accordion-button:focus{
  border-color: unset !important;
  box-shadow: -1px 2px 10px -1px rgba(78,181,41,0.49) !important;
}

.accordion-button:not(.collapsed) {
background-color: #fff !important;
}

.priceoption{
  font-size: 18px;
  margin-top: 7px;
  margin-right: 5px;
  font-weight: 500;
  opacity: 0.7;
}
/* ------------------------------------home page subcategory------------------------------------ */

/* ------------------------------------backgroundimage_aboutus----------------------------------- */

.backgroundimage_aboutus{
  /* background-image: url("https://img.freepik.com/free-vector/gradient-monochromatic-abstract-background_52683-74300.jpg"); */
  height: 700px;
  background-repeat: none !important;
  background-size: cover;
  width: 100%;
  object-fit: contain;
}

.aboutushead{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ourmission{
margin-top: 50px;
color: #000;
line-height: 26px;
}

.our_vision{
  border: 1px solid #EBEBEB;
  padding: 10px;
  width: 70%;
  border-radius: 10px;
}

.our_vision:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;  
  background-color: #fff;
}

.our_vision img{
  width: 20%;
  margin: 5px 0px 5px 5px;
}

.abouthomedec{
  text-decoration: none ;
  color: #000;
  font-size: 18px;
}

.aboutusimagediv{
/* padding-top: 90px; */
/* padding-left: 30px; */
position: relative;
}

.aboutusright_missionimg{
  width: 350px;
  height: 350px;
  border-radius: 100%;
}

/* .whitecircleimage{
  width: 360px;
  height: 360px;
  border-radius: 100%;
  background-color: #4EB529;
} */

.commentsection{
  width: 80%;
  height: 30%;
  /* background-color: #46B737;/ */
  position: absolute;
  bottom: 7px;
  left: 182px;
  border-bottom-right-radius: 15px;
  background-color: #FFF;
   padding: 10px 0px 0px 10px;
  
}

.commentinner_section{
  background-color: #FF7C08;
  color: #fff;
  width: 100%;
  /* height: 100%; */
  border-bottom-right-radius: 13px;
  /* box-shadow: inset -1px 4px 15px -2px rgba(15,23,13,0.52); */
  padding: 5px;
}

.commentsection .commentinner_section p{
 margin-left: 190px;
 margin-bottom: 5px;
}

.mostpopularbrandborder{
  border: 1px dashed red;
  border-radius: 10px;
  padding: 20px;
}

.poupularbrands{
  width: 50%;
 fill: #454d5e !important;
}

.poupularbrands:hover{
  fill: none !important;
}

.paddingdiv_popuarcat{
  padding: 20px 300px 20px 300px;
}

/* .bottombackgrouns_image{
  background-image: url("https://cdn.wallpapersafari.com/34/78/X0atN5.jpg");
  height: 300px;
  background-repeat: none !important;
  background-size: cover;
  object-fit: contain;
  padding-top: 80px;
} */

.workability{
  background-color: #fff;
  border: 1px solid #EBEBEB;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.aboutustoppadding{
  padding-top: 100px;
}

.workingability_column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* .workingability_column p{
  width: 40%;
} */

.thridrow_backgroundimage{
  width: 90%;
}

.thirdrowpadding{
  position: relative;
}

.semrush_upperdiv{
  background-color: #fff;
  position: absolute;
  width: 40%;
  height: 50%;
  border-radius: 100%;
  left: 269px;
  padding: 8px 0px 10px 8px;
}

.expericetodiv{
  padding: 20px 5px 5px 30px ;
  background-color: #FF7C08;
  border-radius: 100%;
  height: 100%;
  width: 90%;
  color: #fff;
}

.trustedpartner{
  border: 1px solid #EBEBEB;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.trustedpartner:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;  
  background-color: #fff;
}

.transitindiv{
  animation-name: show;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

@keyframes show{
  0%{
    padding-left: 60px;
  }

  100%{
    padding-right: 60px;
  }
}
/* ------------------------------------backgroundimage_aboutus----------------------------------- */